:root {
    --ultra-violet: #6458a6ff;
    --chocolate-cosmos: #3d0814;
    --lavender-web: #e1e5f2ff;
    --skobeloff: #0b7a75;
    --fawn: #ffb86f;
}

header {
    position: sticky;
    display: grid;
    justify-content: center;
    width: 100vw;
    top: 0;
    padding: 10px;
    background-color: var(--ultra-violet);
}

#logo {
    color: var(--fawn);
    font-weight: bold;
    font-size: 2rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
}
button {
    border-radius: 5px;
    padding: 1px 7px;
    background-color: var(--chocolate-cosmos);
    color: var(--fawn);
    border: none;
}

#content {
    width: 100vw;
    padding: 20px;
    background-color: var(--lavender-web);
}

img {
    width: 100px;
}

#home {
    width: 70vw;
    margin: auto;
}

#home * {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step {
    width: 100%;
    text-align: center;
}

#footer {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    padding: 2vh 20px;
    background-color: var(--ultra-violet);
    color: var(--fawn);
}